/**
 - https://codepen.io/saransh/pen/BKJun
 - https://codepen.io/WebSonick/pen/vjmgu
 */

.sky {
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.sky__inner {
    width: 100%;
    height: 100%;
}

.sky__planet {
    position: absolute;
    animation: flow-spin-left 20s infinite linear forwards;
}

.paused .sky__planet {
    animation-play-state: paused;
}

@keyframes flow-spin-left {
    0% {
        transform: translateY(calc(-100vh - 200px)) rotate(180deg);
    }
    100% {
        transform: translateY(calc(100vh + 200px)) rotate(-180deg);
    }
}
@keyframes flow-spin-right {
    0% {
        transform: translateY(calc(-100vh - 200px)) rotate(-180deg);
    }
    100% {
        transform: translateY(calc(100vh + 200px)) rotate(180deg);
    }
}

@keyframes glow {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
