:root {
    --color: #8c8c8c;
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.scene .actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    margin: 0 6px;
    color: var(--color);
    background: transparent;
    padding: 6px 12px;
    border-radius: 18px;
    border: 1px solid currentColor;
    min-width: 86px;
    outline: none;
    user-select: none;
}
.scene .actions button:not(:disabled):hover {
    box-shadow: 0 0 16px 0 currentColor;
}
.scene .actions button:active {
    background-color: currentColor;
}
.scene .actions button svg {
    width: 20px;
    height: 20px;
}
.scene .actions button svg path {
    fill: currentColor;
}

.scene .frame {
    perspective: 60px;
    position: relative;
    color: var(--color);
    border: 1px solid currentColor;
    border-radius: 1px;
    overflow: hidden;
    animation: light-off 15s ease-in, perspective 4s ease-in-out infinite;
}

.scene .actions {
    display: flex;
}

@media (orientation: landscape) {
    .scene {
        flex-direction: row;
    }
    .scene .frame {
        width: 70vh;
        height: 70vh;
    }
    .scene .actions {
        margin-left: 15vh;
    }
}

@media (orientation: portrait) {
    .scene .frame {
        width: 70vw;
        height: 70vw
    }
    .scene .actions {
        margin-top: 15vw;
    }
}

@keyframes light-off {
    0% {
        box-shadow: 0 0 24px 0 currentColor;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes perspective {
    0%, 100% {
        perspective: 260px;
    }
    50% {
        perspective: 60px;
    }
}